* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222;
}

h1 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.piano {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 6px 6px rgb(150, 146, 146);
}

.key.active {
  transform: translateY(4px);
  box-shadow: none;
}

.w {
  --width: 4rem;
  border: 1px solid #111;
  background-color: white;
  color: #333;
  grid-row: 1 / 2;
}

.b {
  --width: 2.4rem;
  background-color: black;
  color: white;
  grid-row: 1 / 2;
  z-index: 1;
}

.key-label {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
  text-transform: capitalize;
}
